<div class="wrapper" style="margin-top: 100px;">
    <div class="container">
        <h2 class="motto text-center font-weight-bold head">HEALTHY LIFESTYLE</h2>
        <h5 class="motto text-center">The way to the healthy living</h5>
    </div>
    <section class="hero-area" >
    
        <div class="hero-post-slides">    
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let slide of slidesStore$ | async" [id]="slide.uid">
                    <div class="single-hero-post slider">
                        <!-- Post Image -->
                        <div class="slide-img bg-img" [ngStyle]="{'background-image': 'url(' + slide.imgSrc +')','background-size': 'cover'}"></div>
                        <!-- Post Content -->
                        <div class="hero-slides-content">
                            <p>{{slide.creationDate.toDate() | date}}</p>
                            <a hres="#" class="post-title">
                            <h4>{{slide.title}}</h4>
                            </a>
                        </div>
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
         
    </section>
</div>
<!-- <app-test></app-test> -->