<nav class="navbar navbar-expand-lg fixed-top navbar-default" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
                <a routerLink="">
                    <img routerLink="#" src="../../../assets/logo.svg">
                </a>
                <a routerLink="" class="navbar-brand">Healthy Lifestyle</a>
            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contacts">Contacts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Download</a>
                </li>
                
              
                <li class="nav-item" *ngIf="!isAuth">
                    <a routerLink="login" class="btn btn-outline-primary btn-round"><i class="fa fa-user"></i>Login</a>
                </li>
                <li  ngbDropdown class="nav-item" *ngIf="isAuth">
                <a href (click)="false" class="btn btn-primary btn-round" ngbDropdownToggle >Hello {{currentUser? currentUser.firstName: ""}}</a>
                <div ngbDropdownMenu>
                    <button routerLink='createpost' ngbDropdownItem>Create post</button>
                    <div class="dropdown-divider"></div>
                    <button routerLink='profile' ngbDropdownItem>Profile</button>
                    <button routerLink='profile/settings' ngbDropdownItem>Profile settings</button>
                    <div class="dropdown-divider"></div>
                    <button ngbDropdownItem (click)="signOut()">Logout</button>
                  </div>
                </li>
                
            </ul>
        </div>
    </div>
</nav>