.container{
    margin-top: 100px;
}
.single-post-details-area .post-content .post-date {
    font-weight: 500;
    font-size: 13px;
    
    text-transform: uppercase;
    letter-spacing: 2px;
}
.single-post-details-area .post-content .post-title {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 36px;
}
.single-post-details-area .post-content .post-meta {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.single-post-details-area .post-content p {
    font-size: 16px;
    color: #595959;
}
img {
    max-height: 500px;
    max-width: 100%;
}