
<div class="settings-page">

    <div class="wrapper">
        <div  class="page-header page-header-xs settings-background" style="background-image: url('../../../assets/img/federico-beccari.jpg')">
            <div  class="filter">
            </div>
        </div>
    
        <div  class="profile-content section">
            <div  class="container">
                <div  class="row">
                    <div  class="profile-picture">
                        <!-- <app-image-upload  _nghost-rih-c14=""> -->
                            <div  class="fileinput fileinput-new text-center">
                                <div  class="thumbnail img-no-padding">
                                  <img  alt="..." [src]="(user$ | async)?.picture">
                                </div>
                                <div class="btn btn-outline-default btn-file btn-round" (click)="uploader.click()">
                                    <input #uploader type="file" style="display: none;" (change)="uploadFile($event)">Select image
                                  <!-- <button  type="file" class="btn btn-outline-default btn-file btn-round">Select image</button> -->
                                </div>
                              </div>
                        <!-- </app-image-upload> -->
                    </div>
                </div>
                <div  class="row mt-3">
                <div  class="col-md-6 ml-auto mr-auto">
                    <form  class="settings-form ng-untouched ng-valid ng-dirty" novalidate="">
                        <div  class="row">
                            <div  class="col-md-6 col-sm-6">
                                <div  class="form-group">
                                    <label >First Name</label>
                                    <input  class="form-control border-input" placeholder="First Name" type="text">
                                </div>
                            </div>
                            <div  class="col-md-6 col-sm-6">
                                <div  class="form-group">
                                    <label >Last Name</label>
                                    <input  class="form-control border-input" placeholder="Last Name" type="text">
                                </div>
                            </div>
                        </div>
                        <div  class="form-group"><label >Job Title</label>
                            <input  class="form-control border-input" placeholder="Job Title" type="text">
                        </div>
                        <div  class="form-group">
                            <label >Description</label>
                            <textarea  class="form-control textarea-limited" maxlength="150" placeholder="This is a textarea limited to 150 characters." rows="3"></textarea>
                            <h5 ><small ><span  class="pull-right" id="textarea-limited-message">150 characters left</span></small></h5>
                        </div>
            
                        <div  class="text-center">
                            <button  class="btn btn-wd btn-info btn-round" type="submit">Save</button>
                        </div>
                    </form>
            </div>
        </div>
        </div>
    </div>
</div>
</div>